# Getting Help

You can learn about the details of functions in python by typing the "help()" command with the function name placed inside the parentheses. For example:

In [4]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

Also, you can place a question mark before the function name to get a similar output.

In [8]:
?sum

# Arithmetic & Logical Operators

In [13]:
#Addition
2+3
#Subtraction
2-3
#Multiplication
2*3
#Division w/ float
26/3
#Divsion w/o floats
26//3
#Power
2**2

4

For the most part logicals are the same in python as those written in R

In [24]:
"Commands written as comment are the ones that are different in R"
#!TRUE
not True

True & False
True | False
True | True & False
(True | True) & False

True

# Variable Assignments

Once again very similar to R

In [25]:
x = 2
x = x + 1
x

3

In [26]:
x = 2
x

2

In [27]:
x == 2

True

In [28]:
x != 3

True

In [29]:
x < 3

True

In [30]:
x > 3

False

Equal precision is also an issue in python:

In [31]:
x = 0.5 - 0.3
y = 0.3 - 0.1
x == y

False

Im not aware of any built in python functions for handling this issue, but there are a number of modules that contain functions similar to R's "all.equal" function. One module is "math".

In [32]:
""" The command "import" here works similar to the R command "library". 
If you do not have the module "math", then you can install it by running the following in the terminal:
pip install math """

import math

In [33]:
# Now we can use the functions from the math module to compare with equal precision
math.isclose(x,y)

True

# Variable Types

Python does not have a built in command for creating vectors unfortunately. Once again their is a module for doing so, known as 'numpy'. This is a fairly common and extremely useful module that you are likely to call in 95% of your scripts

In [37]:
"""Notice here that I am defining what I want to call the module 'numpy'. Programmers
are lazy, so this is more so for convention to not have to write out the fully module
name. Here I am calling it 'np'. You can call it whatever you would like, but it is best
to call it something similar to the module name."""
import numpy as np

# us the .array function to create a vector. Note, numbers have to be in brackets
x = np.array([2.718,3.14,1.414])

# we can look at the elements in the array using the print command
print(x)

[2.718 3.14  1.414]

In [39]:
print(np.array([1,2,3])*np.array([7,6,5]))

[ 7 12 15]

In [40]:
print(2*np.array([1,2,3]))

[2 4 6]

In [41]:
print(2+np.array([1,2,3]))

[3 4 5]

The colon operator in python is used for slicing, rather than creating a sequence of integers. To do this, we could use the built in fuction 'range' in python. Note, though, that we cannot perform arithmatic operations with the output of this function without wrapping it as an array or list. Luckily, numpy has a function 'np.arange' that simplifies this process into one line of code

In [57]:
#np.range does not include the last value, so we have to use 7 instead to include 6
print(2 + np.arange(3,7))

[5 6 7 8]

In [51]:
print(np.arange(2+3,7))

[5 6]

In [55]:
# use plus one here to include the stop value in range
print(np.arange(1,3**2+1))

[1 2 3 4 5 6 7 8 9]

In [59]:
print(np.arange(1,4)**2)

[1 4 9]

In [61]:
# np.arange can also be used to create sequences
print(np.arange(0,3.5,0.5))

[0.  0.5 1.  1.5 2.  2.5 3. ]

In [63]:
print(np.arange(0,3,0.5001))

[0.     0.5001 1.0002 1.5003 2.0004 2.5005]

In [67]:
"""np.arange doesn't have a lenght.out option like R seq command.
Instead we can create our own custom function to achieve the output,
but this is outside the scope of the Chapter"""

array([0.        , 0.08333333, 0.16666667, 0.25      , 0.33333333,
       0.41666667, 0.5       ])

Numpy also has a replicate function, but it functions similar to R's rep function only when the flag 'each' in the R function is set to True. To get it to numpy to behave similar to when 'each' is set to False in the R function requires a custom function.

In [76]:
ABC = np.array(['A','B','C'])
np.repeat(ABC,2, axis = 0)

array(['A', 'A', 'B', 'B', 'C', 'C'], dtype='<U1')

To index elements in a vector you use brackets. NOTE: Python is a zero index language, which means that it starts counting at 0. So, if you want the 3rd element of a vector, its actually called by running 'vector_name[2]'

In [78]:
x = np.array([2.718,3.14,1.414,4705])

In [85]:
x[[1,3]]

array([3.140e+00, 4.705e+03])

In [88]:
"""Using negative numbers when indexing in Python works differently. Instead,
it starts at the back of the list and starts counting from there. To get all but
certain elements of a vector, you must:"""

TypeError: bad operand type for unary ~: 'list'